[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-dotenv = "*"
django-environ = "*"
sentry-sdk = "*"
python-dotenv = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"
drf-yasg = "*"
drf-spectacular = "*"
django-admin-interface = "*"
django-model-utils = "*"
django-multiselectfield = "*"
setuptools = "*"
django-filter = "*"
django-phonenumber-field = "*"
faker = "*"
phonenumbers = "*"

[dev-packages]

[requires]
python_version = "3.12"
