[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-dotenv = "*"
django-environ = "*"
sentry-sdk = "*"
python-dotenv = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.12"
